<div class="container mt-4">

  <div *ngIf="!selectedCourse">
    <h2>Seleccione un curso para evaluar:</h2>

    <div *ngIf="warningUnrated" class="alert alert-warning">
      Cursos por evaluar.
    </div>

    <ul class="list-group">
      <li 
        *ngFor="let c of enrolledCourses" 
        class="list-group-item list-group-item-action curso-item"
        (click)="selectCourse(c)">
        {{ c.nombre }}
      </li>
    </ul>
  </div>

  <div *ngIf="selectedCourse">
    <h2>Evaluar Curso: {{ selectedCourse.nombre }}</h2>

    <form [formGroup]="evaluationForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width-input">
        <mat-label>Curso:</mat-label>
        <mat-select formControlName="courseId" [disabled]="true">
          <mat-option [value]="selectedCourse.id">{{ selectedCourse.nombre }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width-input">
        <mat-label>Nota (1-7):</mat-label>
        <input matInput type="number" formControlName="rating" min="1" max="7">
        <mat-error *ngIf="evaluationForm.get('rating')?.touched && evaluationForm.get('rating')?.invalid">
          <span *ngIf="evaluationForm.get('rating')?.errors?.['required']">Este campo es obligatorio.</span>
          <span *ngIf="evaluationForm.get('rating')?.errors?.['min']">La nota mínima es 1.</span>
          <span *ngIf="evaluationForm.get('rating')?.errors?.['max']">La nota máxima es 7.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width-input">
        <mat-label>Comentario:</mat-label>
        <textarea matInput formControlName="comment" rows="5"></textarea>
        <mat-error *ngIf="evaluationForm.get('comment')?.touched && evaluationForm.get('comment')?.invalid">
          <span *ngIf="evaluationForm.get('comment')?.errors?.['required']">Este campo es obligatorio.</span>
        </mat-error>
      </mat-form-field>

      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="!evaluationForm.valid">Enviar Evaluación</button>
        <button mat-raised-button color="warn" type="button" (click)="cancelEvaluation()">Cancelar</button>
      </div>
    </form>
  </div>
</div>