.report-card {
  padding: 20px;
}

.report-toolbar {
  margin-bottom: 20px;
}

.report-content {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Este hace que las tarjetas no se peguen */
}

.evaluation-card {
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
