<mat-toolbar class="mat-elevation-z3 custom-toolbar-shadow">
  <button mat-icon-button (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="contenedor">
    <button [routerLink]="['/login']" mat-raised-button color="primary" style="align-self: flex-end;">
      Cerrar Sesión
    </button>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
    <app-custom-sidenav [collapsed]="collapsed()"></app-custom-sidenav>
  </mat-sidenav>

  <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>